.photo-grid__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    list-style-type: none;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid__list {
        grid-gap: 14px;
    }
}

@media (max-width: 767px) {
    .photo-grid__list {
        grid-gap: 12px;
    }
}
