.cover__title {
    margin: 0 0 32px;
    width: 560px;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

@media (max-width: 635px) {
    .cover__title {
        width: 288px;
        margin: 0 0 16px;
        font-size: 32px;
        line-height: 35px;
    }
}
